@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg{
  fill: gainsboro;
}

path{
  stroke: gray;
}

.marker {
  background-image: url("../public/svg/icons8-home-64.png");
  width: 16px;
  height: 16px;
  cursor: pointer;
}
